.author {
	position: relative;
	min-height: px-to-vw(807, 1440);
	background: #dfddd3;
	overflow: hidden;
}

.authorTitle {
	position: absolute;
	left: px-to-vw(542, 1440);
	top: px-to-vw(110, 1440);
	width: px-to-vw(356, 1440);
	margin: 0;
	font-family: var(--font-tenor);
	font-size: px-to-vw(40, 1440);
	font-weight: 400;
	line-height: px-to-vw(43, 1440);
	letter-spacing: px-to-vw(-1.2, 1440);
	text-align: center;
	color: #000;
}

.authorMeta {
	position: absolute;
	left: px-to-vw(558, 1440);
	top: px-to-vw(209, 1440);
	width: px-to-vw(324, 1440);
	margin: 0;
	font-family: var(--font-inter);
	font-size: px-to-vw(20, 1440);
	font-weight: 400;
	line-height: normal;
	color: #838366;
	opacity: 0.8;
	text-align: center;
}

.authorPhotoWrap {
	position: absolute;
	left: px-to-vw(613, 1440);
	top: px-to-vw(309, 1440);
	width: px-to-vw(215, 1440);
	height: px-to-vw(215, 1440);
	border-radius: px-to-vw(10, 1440);
	overflow: hidden;
}

.authorPhoto {
	object-fit: cover;
}

.authorQuote {
	position: absolute;
	left: px-to-vw(487, 1440);
	top: px-to-vw(577, 1440);
	width: px-to-vw(466, 1440);
	margin: 0;
	font-family: var(--font-inter);
	font-size: px-to-vw(20, 1440);
	font-weight: 400;
	line-height: normal;
	color: #000;
	opacity: 0.8;
	text-align: justify;
	white-space: pre-wrap;
}

@media screen and (max-width: $brakePointMobile) {
	.author {
		min-height: px-to-vw(614, 390);
	}

	.authorTitle {
		left: px-to-vw(89, 390);
		top: px-to-vw(81, 390);
		width: px-to-vw(212, 390);
		font-size: px-to-vw(25, 390);
		line-height: px-to-vw(27, 390);
		letter-spacing: px-to-vw(-0.75, 390);
	}

	.authorMeta {
		left: px-to-vw(109, 390);
		top: px-to-vw(150, 390);
		width: px-to-vw(172, 390);
		font-size: px-to-vw(14, 390);
	}

	.authorPhotoWrap {
		left: px-to-vw(109, 390);
		top: px-to-vw(224, 390);
		width: px-to-vw(172, 390);
		height: px-to-vw(172, 390);
		border-radius: px-to-vw(10, 390);
	}

	.authorQuote {
		left: px-to-vw(35, 390);
		top: px-to-vw(436, 390);
		width: px-to-vw(319, 390);
		font-size: px-to-vw(15, 390);
	}
}
