@use "@/styles/variables.scss" as *;
@use "@/styles/mixins.scss" as *;

.stateIssue {
	position: relative;
	min-height: px-to-vw(1045, 1440);
	background: #dfddd3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: px-to-vw(120, 1440);
	padding-bottom: px-to-vw(120, 1440);
}

.topText {
	text-align: center;
	margin-bottom: px-to-vw(60, 1440);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.topTitle {
	font-family: var(--font-tenor);
	font-size: px-to-vw(40, 1440);
	font-weight: 400;
	line-height: 1.15;
	letter-spacing: px-to-vw(-1.2, 1440);
	color: #000;
	margin: 0 0 px-to-vw(20, 1440) 0;
}

.topParagraph {
	font-family: var(--font-inter);
	font-size: px-to-vw(18, 1440);
	font-weight: 300;
	line-height: 1.4;
	color: #000;
	margin: 0;
	text-align: center;
}

.issueDiagram {
	position: relative;
	width: px-to-vw(561, 1440);
	height: px-to-vw(561, 1440);
	margin-bottom: px-to-vw(70, 1440);
}

.issueDiagramImage {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.bottomText {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bottomTitle {
	font-family: var(--font-tenor);
	font-size: px-to-vw(35, 1440);
	font-weight: 400;
	line-height: 1.15;
	letter-spacing: px-to-vw(-1.05, 1440);
	color: #000;
	margin: 0 0 px-to-vw(15, 1440) 0;
}

.bottomParagraph {
	font-family: var(--font-inter);
	font-size: px-to-vw(18, 1440);
	font-weight: 300;
	line-height: 1.4;
	color: #000;
	margin: 0;
	text-align: center;
}

@media screen and (max-width: $brakePointMobile) {
	.stateIssue {
		min-height: auto;
		padding-top: px-to-vw(100, 390);
		padding-bottom: px-to-vw(100, 390);
	}

	.topText {
		margin-bottom: px-to-vw(45, 390);
		/* Робимо вужчий блок для правильних переносів */
		width: px-to-vw(245, 390);
		/* Вирівнюємо вміст блоку по лівому краю */
		align-items: flex-start;
	}

	.topTitle {
		font-size: px-to-vw(25, 390);
		letter-spacing: px-to-vw(-0.75, 390);
		margin-bottom: px-to-vw(20, 390);
		text-align: left;
	}

	.topParagraph {
		font-size: px-to-vw(14, 390);
		text-align: left;
		line-height: 1.35;
	}

	.issueDiagram {
		width: px-to-vw(320, 390);
		height: px-to-vw(320, 390);
		margin-bottom: px-to-vw(50, 390);
	}

	.bottomText {
		/* Робимо вужчий блок для правильних переносів */
		width: px-to-vw(245, 390);
		/* Вирівнюємо вміст блоку по лівому краю */
		align-items: flex-start;
	}

	.bottomTitle {
		font-size: px-to-vw(25, 390);
		letter-spacing: px-to-vw(-0.75, 390);
		margin-bottom: px-to-vw(20, 390);
		text-align: left;
	}

	.bottomParagraph {
		font-size: px-to-vw(14, 390);
		text-align: left;
		line-height: 1.35;
	}
}