@use "@/styles/variables.scss" as *;
@use "@/styles/mixins.scss" as *;

.page {
	width: 100%;
	background: #e9e5da;
	color: #000;
	overflow: hidden;
}

.canvas {
	position: relative;
	width: px-to-vw(1389, 1440);
	margin-inline: auto;
	background: #e9e5da;
}

.canvas::before,
.canvas::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	width: 1px;
	background: #000;
	pointer-events: none;
	z-index: 50;
}

.canvas::before {
	left: 0;
}

.canvas::after {
	right: 0;
}

.canvas > * {
	position: relative;
}

.sectionSlot {
	position: relative;
}

.sectionSlot + .sectionSlot::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 0;
	width: 100vw;
	transform: translateX(-50%);
	border-top: 1px solid #000;
	pointer-events: none;
	z-index: 60;
}

/* Додано правило для приховування верхньої лінії */
.sectionSlot + .sectionSlot.noTopLine::before {
	display: none;
}

@media screen and (max-width: $brakePointMobile) {
	.canvas {
		width: px-to-vw(370, 390);
	}
}