.page {
	width: 100%;
	background: #d9d9d9;
	color: #000;
}

.canvas {
	position: relative;
	width: px-to-vw(1389, 1440);
	margin-inline: auto;
	background: #d9d9d9;
}

.canvas::before,
.canvas::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	width: 1px;
	background: #000;
	pointer-events: none;
	z-index: 50;
}

.canvas::before {
	left: 0;
}

.canvas::after {
	right: 0;
}

.canvas > * {
	position: relative;
}

.canvas > *::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 100vw;
	transform: translateX(-50%);
	border-bottom: 1px solid #000;
	pointer-events: none;
}

@media screen and (max-width: $brakePointMobile) {
	.canvas {
		width: px-to-vw(370, 390);
	}
}
